/* General */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* Navigation */
nav {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    padding: 10px;
    display: block;
    text-decoration: none;
}

/* Main content */
main {
    max-width: 840px;
    margin: 20px auto;
    padding: 10px;
}

h1 {
    color: #333;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid #000;
    padding: 2px;
    box-shadow: 0 0 10px #555;
}

/* Paragraphs */
p {
    padding: 0;
}

/* Aside */
aside {
    width: 20rem;
    margin: 20px auto;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

/* Footer */
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
    padding: 10px;
}